*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 2rem;
    font-family: 'VT323', monospace;
    
    color: #53305F;
    background: #fbfbfb;

    /*overflow-x: hidden;*/
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.is-total-modal{
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 1000;

    width: 100%;
    height: 100vh;

    background-color: #53305F;

    transition: visibility 1s ease;
}

.is-total-modal.is-invisible{
    visibility: hidden;
}

*::selection {
    background-color: #FED337;
    color: #CC2936;
}

a{
    text-decoration: none;
    color: #53305F;
}

section{
    min-height: 100vh;
}

/************************************************************************************/
/************************************************************************************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    top: 0;
    position: fixed;

    z-index: 300;

    width: 100vw;
    height: 80px;

    background: #fdfdfd;

    padding: 15px 25px;
    padding-top: 10px;

    box-shadow: 0 10px 10px -5px;

    transition: all 0.5s ease-out;
}

header.headerOpen{
    top: 0;
}

.hidden{
	transform: translate(0, -100%);
}

header .logo{
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;

    cursor: pointer;

    background: rgb(83,48,95);
background: linear-gradient(0deg, rgba(83,48,95,1) 40%, rgba(196,60,161,1) 79%);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.3s ease-out;
}



.containerEnlaces{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerEnlace{
    display: flex;
}

header a{
    font-weight: bold;
    margin-right: 22px;
    transition: color 0.3s ease-out;
}

header a:hover{
    color: #845195;
}

.div-enlace{
    background: #fff;
    width: 0;
    height: 4px;
    border-radius: 15%;

    transition: width 0.7s;
}

.div-enlacesAnimation{
    background: #F4BF01;
    width: 100%;
}

.container-amburguer button{
    height: 50px;
    width: 50px;
    margin: 10px 10px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;

    position: fixed;
    top: 0;
    right: 0;

    
    z-index: 200;
    background: rgba(0, 0, 0, 0.4);
}

.container-amburguer button span{
    width: 70%;
    height: 5px;
    background: #fff;
    display: block;
    margin: 5px auto;
    border-radius: 3px;

    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.container-amburguer button.open .line-top{
    animation-name: line-top-animation;
}

.container-amburguer button.open .line-middle{
    animation-name: line-middle-animation;
}

.container-amburguer button.open .line-bottom{
    animation-name: line-bottom-animation;
}


.container-amburguer button span.line-top{
    animation-name: line-top-animation-close;
}

.container-amburguer button span.line-middle{
    animation-name: line-middle-animation-close;
}

.container-amburguer button span.line-bottom{
    animation-name: line-bottom-animation-close;
}


@keyframes line-top-animation{
    50%, 100%{
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes line-middle-animation{
    0%, 70%{
        width: 70%;
    }
    70%, 100%{
        width: 0;
    }
}

@keyframes line-bottom-animation{
    50%, 100%{
        transform: translateY(-10px) rotate(45deg);
    }
}



@keyframes line-top-animation-close{
    0%{
        transform: translateY(10px) rotate(-45deg);
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes line-middle-animation-close{
    0%, 30%{
        width: 0;
    }
    30%, 100%{
        width: 70%;
    }
}

@keyframes line-bottom-animation-close{
    0%{
        transform: translateY(-10px) rotate(45deg);
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
    }
}
/************************************************************************************/
/************************************************************************************/

.aboutme{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 90vh;
    width: 100%;

    padding: 0px 30px;

    background: #53305F;

    color: #fff;
}

section .elementAbaut{
    width: 50vw;
    height: 50vh; /****************************/
    text-align: center;
    display: flex;
    justify-content: center;
}

section .elementAbaut .content-img{
    position: relative;
    width: 60%;
    text-align: center;
}



section .elementAbaut .content-img .imgChild{
  position: absolute;
  top: 0;
  left: 0;
}

.aboutme img{
    width: 100%;
}

section .elementAbaut .content-img .animationAbout{
    animation-name: rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

section .elementAbaut .content-img .imgChild .animationAbout{
    animation-duration: 6s;
}



section .abautContenido{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .abautContenido a{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 7px;
    margin-top: 30px;
    font-size: 30px;

    transition: all 0.4s ease-out;
}

section .abautContenido a:hover{
    color: #53305F;
    background: #fff;
    font-weight: bold;
}



/***********************************************************************************************/
/***********************************************************************************************/


.container-modalBox{
    width: 100vw;
    min-height: 60vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(27, 25, 25, 0.8);
    transition: all 0.5s linear;

    z-index: 500;
    transform: translateY(-110%);
}

/*
.container-modalBoxSocialMedia{
    
}

.container-modalBoxProject{
    transform: translateY(-100%);
}*/

.modalBoxProject,
.modalBoxSocialMedia{
    width: 55vw;
    height: 50vh;

    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;

    position: absolute;

    padding: 25px;
}

.modal-social-icon {
    font-size: 70px;
    margin: 0 20px;

    cursor: pointer;
}

.modalBoxSocialMedia i:hover{
    color: #7b5d85;
}


.modalOpen{
    width: 100vw;
    height: 100vh;
    transform: translateY(0) translateX(0);
}

.modalClose{
    position: absolute;
    top: 0;
    right: 0;

    
    margin-right: 5px;

    font-size: 40px;

    padding: 3px;

    cursor: pointer;

    transition: background-color .5s;
}

.modalClose:hover{
    color: #7b5d85;
}


@keyframes rotacion{
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}




/***********************************************************************************************/
/***********************************************************************************************/

.containerSkilss{
    min-height: 60vh;
    width: 100%;
    
}

.skills{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 0 30px;
    background: #e9bf28;

}

.skillsLogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 40px;
}

.skillsLogos .skillsLogo{
    font-size: 90px;
    margin: 10px 10px;
    
    color: #977e23;

    opacity: 0.5;
}

.skillsLogos .skillsLogo i{
    filter: drop-shadow(1px 2px  rgba(83, 48, 95));
    
}

.skillsText{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.skillsText p{
    font-weight: bold;
}

.content-items-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 60%;

    color: #e9bf28;

    margin: 30px 20px;
}


.item-skill{
    display: flex;
    justify-content: center;
    align-items: center;

    background:#53305F;
    margin: 10px;
    padding: 3px;
    border-radius: 15px;
}

.item-skill h4{
    font-size: 22px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}

.ball-skill{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;

    background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.waveSkills{
    background: #e9bf28;
}

/***********************************************************************************************/
/***********************************************************************************************/
.containerProjects{
    min-height: 50vh;
    width: 100%;
}


.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-height: 50vh;

    padding: 0px 30px;
    text-align: center;
}

.projects p{
    font-weight: bold;
    margin-bottom: 30px;
}

.projects span{
    font-weight: normal;
    font-size: 28px;
}

.go-gitHub{
    color: #f642cf;
    text-decoration: underline;
}

.containerProject{
   display: grid;
   grid-template-columns: repeat(3, auto);
   justify-content: center;
   align-items: flex-start;

   width: 100%;
}

.project{
    width: 230px;
    height: 280px;

    margin: 10px;
    border-radius: 10px;
    cursor:pointer;
    position: relative;
    
    overflow: hidden;

    transition: all 0.6s;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-image: url(../img/imgProject.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title-project{
    color: rgba(83, 48, 95, 0.9);
}

.project i{
    font-size: 50px;
    color: #fff;
    z-index: 10;
    opacity: 0;

    transition: all .6s;
}

.project:hover i{
    opacity: 1;
}

.project:hover{
    box-shadow: rgba(243, 2, 191, 0.671) 0px 1px 30px 0px, rgba(243, 2, 191, 0.404)0px 1px 3px 1px;
}

.efect-over-project{
    width: 0px;
    height: 0px;

    position: absolute;
    top: -150px;
    left: -150px;
    border-radius: 50%;
    transition: all 0.7s linear;
   
    background: linear-gradient(to right, #8000ff9b, #e100ff9a);
}

.project:hover .efect-over-project{
    width: 500px;
    height: 500px;
}

.description-project{
    font-size: 28px;
}

.description-project a {
    text-decoration:underline;
}

.project-link * {
    color: #f572d9;
    font-size: 25px;
    cursor: pointer;

    margin: 0 6px;
}

.project-link a{
    text-decoration:underline;
}

.icon-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-project i{
    font-size: 38px;
    margin: 0px 7px;
}






/***********************************************************************************************/
/***********************************************************************************************/

.contact{
    min-height: 90vh;
    width: 100%;
    background: #5C5D8D;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form{
    display: flex;
    flex-direction: column;

    width: 35%;
    height: aunto;
    background: #fff;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 60px;
}

.contact form:hover button{
    animation: pulse 3s infinite ease-out 1s;
}

.contact form h2,
.contact form input,
.contact form textarea{
    margin-bottom: 10px;
    background: none;
    font-family: 'VT323', monospace;
    margin-bottom: 15px;
}

.contact form input,
.contact form textarea{
    border-color: #53305F;
    color: #53305F;
    outline: none;
    border-style: solid;
    border-radius: 4px;
}

.contact form h2{
    text-align: center;
    margin-bottom: 20px;
}

.contact form input,
.contact form textarea,
.contact form button{
    padding: 10px;
    font-size: 23px;
}

.contact form textarea{
    border-width: initial;
    text-align: justify;
}

.contact form textarea:focus{
    border-color: #9f5fb6;
}

.contact form button{
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;

    font-family: 'VT323', monospace;

    background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/***********************************************************************************************/
/***********************************************************************************************/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 15vh;

    text-align: center;
}

footer div i{
    font-size: 50px;
    opacity: 0.85;
    transform-origin: 35% 30%;
    animation: pulse .8s infinite ease-out .75s;
}

@keyframes pulse{
    10%, 20% {
        transform: scale(0.9, 0.85) skewX(1deg);
        opacity: 1;
    }
}



/***********************************************************************************************/
/***********************************************************************************************/

@media (max-width: 950px){
    header{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        z-index: 100;
        top: -200%;

        background: rgb(83,48,95);
background: linear-gradient(0deg, rgba(83,48,95,1) 14%, rgba(208,79,175,1) 98%);    
    }

    header .logo{
        filter: drop-shadow(1px 1px 3px rgb(255,255,255));
    }

    header .containerEnlaces{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;

    }

    header .enlaces{
        margin-right: 0px;
        margin-top: 10px;

        color: #fff;
    }

    .aboutme{
        flex-direction: column;
        justify-content: space-evenly;
    }

    section .elementAbaut{
        width: 100%;
        height: auto;
        text-align: center;
    }

 
    section .elementAbaut .content-img img,
    section .elementAbaut .content-img .imgChild img{
        width: 70%;
    }

    .modalBoxProject,
    .modalBoxSocialMedia{
        width: 75vw;
        height: 70vh;
    }

    .skills{
        padding: 0 5px;
    }

    .skillsLogos .skillsLogo{
        font-size: 60px;
    }

    .content-items-skills{
        margin: 5px;
        width: 90%;
    }

    .item-skill h4{
        font-size: 14px;
    }

    .ball-skill{
        width: 10px;
        height: 10px;
    }

    .containerProject{
        grid-template-columns: repeat(2, auto);

        margin-top: 0px;
        margin-bottom: 0px;
    }
    .project{
        width: 280px;
        height: 320px;
        margin-bottom: 10px;
    }

    .projects span{
        font-size: 22px;
    }
    .project:hover .efect-over-project{
        width: 600px;
        height: 600px;
    }

    .contact form{
        width: 60%;
    }
}


@media (max-width: 660px){
    body{
        font-size: 1.4rem;
    }

    header .logo{
        font-size: 1.1rem;
    }

    header .logo:hover{
        transform: scaleX(0.8);
        font-size: 1.4rem;
    }

    header .enlaces{
        font-size: 2rem;
    }

    section .elementAbaut .content-img img,
    section .elementAbaut .content-img .imgChild img{
        width: 100%;
    }

    section .abautContenido a{
        font-size: 1.5rem;
    }

    .containerProject{
        grid-template-columns: repeat(1, auto);
    }

    .modalBoxProject,
    .modalBoxSocialMedia{
        width: 95vw;
        height: 55vh;
    }

    .title-project{
        font-size: 30px;
    }

    .description-project{
        font-size: 20px;
    }

    .project-link *{
        font-size: 18px;
    }

    .contact form{
        height: 70vh;
        width: 90%;
    }
}